body {
  background-color: grey;
  position: relative;
  padding: 25px 25px 25px 25px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

#about {
  background-color: white;
  padding-top: 70px;
  border-style: groove;
  border-color: black;
}

.about-block {
  background-color: black;
  color: white;
  opacity: 0.7;
  padding-top: 10px;
  margin:  0 100px 0 100px;
  border-radius:  20px;
  border-style: double;
}

.face {
  height: 350px;
  width: auto;
  margin-bottom: 10px;
}

#portfolio {
  background-color:  white;
  border-style: groove;
  border-color: black;
  padding-top: 70px;
}

.portfolio-block {
  background-color: black;
  color: white;
  opacity: 0.7;
  padding-top: 10px;
  margin:  0 100px 0 100px;
  border-radius:  20px;
  border-style: double;
}

.container {
  margin-bottom:  10px;
}

.col-xs-4 {
  float: none;
  margin: 0 auto;
}

#contact {
  background-color: white;
  border-style: groove;
  border-color: black;
  padding-top: 70px;
}

.contact-block {
  background-color: black;
  color: white;
  opacity: 0.7;
  padding-top: 10px;
  margin:  0 100px 0 100px;
  border-radius:  20px;
  border-style: double; 
}

.btn-secondary {
  background-color: black;
  color: white;
  opacity: 0.7;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-style:  solid;
  border-color: black;
}

.navbar-inverse .nav-pills .nav-link.active {
  color: black;
  background-color: white;
}